<div class="break-line"></div>
<div class="centrar2">
    <article class="Portfolio">

        <div class="Titulo3">
            <H2>Portfolio</H2>
            <p> The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.
                Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum"
        </div>
        <div class="cajas">
            <div class="caja1">
                <div class="cuadrado">

                </div>
                <h2 style="color: rgb(66, 149, 226)" ;>Project Name</h2>
                <p> The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those
                    interested.</p>
            </div>

            <div  class="caja1">
                <div class="cuadrado">

                </div>
                <div>
                    <h2 style="color: rgb(66, 149, 226)">Project Name</h2>
                    <p> The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those
                        interested.
                    </p>
                </div>
            </div>
            <div  class="caja1">
                <div class="cuadrado">

                </div>
                <div>
                    <h2 style="color: rgb(66, 149, 226)">Project Name</h2>
                    <p> The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those
                        interested.
                    </p>
                </div>
            </div>
        </div>
    </article>
</div>

