<div class="d-flex position-relative bg-light negative-mt-1">
  <div class="break-line"></div>
  <article class="d-flex justify-content-center flex-column p-5">
    <div class="d-flex justify-content-center flex-column">
      <h2>Portfolio</h2>
      <p class="w-90">
        The standard chunk of Lorem Ipsum used since the 1500s is reproduced
        below for those interested. Sections 1.10.32 and 1.10.33 from "de
        Finibus Bonorum et Malorum"
      </p>
    </div>

    <div class="d-flex justify-content-center">
      <div class="caja1">
        <div class="cuadrado"></div>
        <h2 style="color: rgb(66, 149, 226)" ;>Project Name</h2>
        <p>
          The standard chunk of Lorem Ipsum used since the 1500s is reproduced
          below for those interested.
        </p>
      </div>

      <div class="caja1">
        <div class="cuadrado"></div>
        <div>
          <h2 style="color: rgb(66, 149, 226)">Project Name</h2>
          <p>
            The standard chunk of Lorem Ipsum used since the 1500s is reproduced
            below for those interested.
          </p>
        </div>
      </div>
      <div class="caja1">
        <div class="cuadrado"></div>
        <div>
          <h2 style="color: rgb(66, 149, 226)">Project Name</h2>
          <p>
            The standard chunk of Lorem Ipsum used since the 1500s is reproduced
            below for those interested.
          </p>
        </div>
      </div>
    </div>
  </article>
</div>
